.badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    @extend .px-2, .py-1, .my-3, .mx-1;

    &-pill {
        padding-right: 0.6em;
        padding-left: 0.6em;
        border-radius: 10rem;
    }

    &-type-toDo {
        background: red;
    }

    &-type-inProgress {
        background: yellow;
    }

    &-type-done {
        background: green;
    }
}

.task {
    &-type-toDo {
        background: rgba(255, 0, 0, 0.1);
        border-left: 2px solid rgb(255, 0, 0);
    }

    &-type-inProgress {
        background: rgba(255, 255, 0, 0.1);
        border-left: 2px solid rgb(255, 255, 0);
    }

    &-type-done {
        background: rgba(0, 255, 0, 0.1);
        border-left: 2px solid rgb(0, 255, 0);
    }
}

