.kanboard {  
  margin: 30px 0;
  height: 200px;
  .header {
    border-bottom: 1px solid #000;
    background-color: #e0e0e0;
    width: 100%;
    .in-progress {
      border-left: 1px solid #000;
      border-right: 1px solid #000;
    }
  }
}

.drag-container {
  text-align: center;
  height: calc(100vh);
}

.droppable {
  border-right: 1px dashed #000;
  border-left: 1px dashed #000;
}

.draggable {
  width: 300px;
  height: 100px;
  margin: 10px auto;
}

.inProgress, .toDo, .done {  
  border-left: 1px dashed #000;
  border-left: 1px dashed #000;
}